header{
    background:lightseagreen;
  
  color: #ffffff;
  display: inline-flex;
  font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 24px 15px;
  text-align: center;
  margin-top:  10px;
  margin-left: 20px;
  margin-left: 60px;
  

    

}
section{

background-color: #dddddd ;
  border-top: 2px solid gray;
  color: #777;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
  height: 680px;
  border-bottom: 8px solid lightseagreen;
  background-image: url('../image/fba7da61.png')

 
  
  
}
nav{
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 60px;
    margin-right: 40px;
    position: relative;
    bottom: 10px;
    color: #777;
    
    
}
a{
    text-decoration: none;
    color: #777;
    
}
a:hover{color: burlywood;

}

footer{

        background:#777;
  
  color: #ebebeb;
 
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}
.article{
    padding: 30px;
    color:lightseagreen;
    border: 1px solid #dddddd;
    margin-right: 340px;
    height: 610px;
    margin-left: 40px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    background-color: #f9f9f9;
    margin-top: 10px;

    
}
aside{
    float:right;
    padding: 30px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    height: 80px;
    margin-right: 100px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightseagreen;
    font-size:small;
    position: relative;
    top: 9.5px;
  
}
p{
    padding: 2px;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
   
}
hr{
    color: #dddddd
}
img{
   
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.city{
      float: left;
   margin: 10px;
   padding: 10px;
   width: 170px;;
   height: 150px;
   border: 1px solid #dddddd;
   position: relative;
   left: 40px;
}
   
h2{
   font-family: Arial, Helvetica, sans-serif; 
   color:#777;
   font-size: small;
   
}
#p{
    height: 150px;
}
button{
    background-color: lightseagreen;
    color:#777;
    float:left;
    position: relative;
    top:160px;
    
    
}


.contact{
    border: solid 1px #dddddd;
}
#textboxid{
    height:150px;
    position: relative;
    right: 56px;
    
}
#div{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzxBGPmyrPRx-dSFfqsrxpTZUEGruoezSZJiYtFl2uNml-7qghYA');
    width: 200px;
    margin-top: 10px;
    height: 180px;
    float: left;
    margin-right: 10px;
    position: relative;
    left: 20px;
}
.homer1{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXLS4pm9z7ooTbJH8xB21Q4xf-ja9yzFPJTnV_HWLYs9uJTw3kWg');
    width: 200px;
    margin-top: 10px;
    height: 180px;
    float: left;
    margin-right: 10px;
    position: relative;
    left: 20px;
}
.homer2{
    background-image: url('https://t3.ftcdn.net/jpg/01/06/64/24/240_F_106642492_xE5O45QsEGVkPAlosEuaOjzzOEJ1a0lN.jpg');
    width: 200px;
    
    margin-top: 10px;
    height: 180px;
    float: left;
    margin-right: 10px;
    position: relative;
    left: 20px;
}
.homer3{
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTCuOn1V3DXnCyYhGlqHob48qCahtlBh9jRGlafZpYfa9omtPk89A');
    width: 200px;
    
    margin-top: 10px;
    height: 180px;
    float: left;
    margin-right: 10px;
    position: relative;
    left: 20px;
}
.homer4{
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRrHFmNVEMskb2sVKoMfRKRa5BbTKsC-dQI6_0KSo5e-dCTgmMX-w');
    width: 200px;
    
    margin-top: 10px;
    height: 180px;
    float: left;
    margin-right: 10px;
    position: relative;
    left: 20px;
}
.Hang{
    
    background-color: lightseagreen;
    position: relative;
    top: 140px;
    text-align: center;
    color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}
  

  
